<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{_hotelTitle}}
                <small>Page {{_page + 1}} of {{_pagesCount}}</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a [routerLink]="['/Home']">Home</a>
                </li>
                <li>
                    <a [routerLink]="['/Collections']">Collections</a>
                </li>
                <li>{{_hotelTitle}}</li>
                <li class="active">Books</li>
            </ol>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-3 col-sm-6 hero-feature" *ngFor="let room of _rooms">
            <div class="thumbnail blue-thumb">
                <p>{{room.Name}}</p>
                <p>Hotel: {{room.Hotel}}</p>
                <div class="row caption img-caption">
                    <div class="row remove-caption">
                        <div class="col-xs-10 dateCaption"></div>
                        <div class="col-xs-2 buttonCaption">
                            <button class="btn btn-xs btn-danger" (click)="delete(room)">
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-remove fa-stack-1x fa-inverse"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="navbar navbar-fixed-bottom">
    <div class="text-center">
        <div ng-hide="(!_pagesCount || _pagesCount < 2)" style="display:inline">
            <ul class="pagination pagination-sm">
                <li><a *ngIf="_page != 0_" (click)="search(0)"><<</a></li>
                <li><a *ngIf="_page != 0" (click)="search(_page-1)"><</a></li>
                <li *ngFor="let n of range()" [ngClass]="{active: n == _page}">
                    <a (click)="search(n)" *ngIf="n != _page">{{n+1}}</a>
                    <span *ngIf="n == _page">{{n+1}}</span>
                </li>
                <li><a *ngIf="_page != (_pagesCount - 1)" (click)="search(pagePlus(1))">></a></li>
                <li><a *ngIf="_page != (_pagesCount - 1)" (click)="search(_pagesCount - 1)">>></a></li>
            </ul>
        </div>
    </div>
</footer>